:root {
  --color-red1: #fff1f0;
  --color-red6: #f5222d;
  --color-red10: #5c0011;

  --color-blue1: #e6f7ff;
  --color-blue6: #1890ff;
  --color-blue10: #002766;

  --color-gray1: #ffffff;
  --color-gray13: #000000;
}